<div>

  <%= form_for @message do |f| %>

    <%= render 'phcnotifi/validations', :object => @message %>

    <div class="col-md-12">
      <label><%= f.label :name, "Full Name" %></label>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="col-md-12">
      <label><%= f.label :email, "Email" %></label>
      <%= f.email_field :email, class: "form-control" %>
    </div>

    <div class="col-md-12">
      <label><%= f.label :subject, "Subject" %></label>
      <%= f.text_field :subject, class: "form-control" %>
    </div>

    <div class="col-md-12">
      <label><%= f.label :content, "Content" %></label>
      <%= f.text_area :content, class: "form-control" %>
    </div>

    <div class="col-md-12">
      <%= f.submit 'Send', class: 'btn btn-primary' %>
    </div>

  <% end %>

</div>
