<!-- Contact Container -->
<div class="section-container">

  <!-- Contact Tittle -->
  <h4 class="section-title m-b-20"><span>CONTACT US</span></h4>
  <!-- Contact Tittle -->

  <!-- Contact Form Container -->
  <div class="row row-space-30 f-s-12 text-inverse">
    <div class="col-md-12">

      <!-- Contact Form -->
      <%= form_with model: @message, local: true do |form| %>

        <!-- Render Validation -->
        <%= render 'phcnotifi/validations', :object => @message %>
        <!-- Render Validation -->

        <div class="form-group">
          <%= form.label :name, "Full Name" %> <span class="text-danger"> *</span>
          <%= form.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :email, "Email" %>
          <%= form.email_field :email, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :subject, "Subject" %>
          <%= form.text_field :subject, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= form.label :content, "Content" %>
          <%= form.text_area :content, class: "form-control" %>
        </div>

        <div class="action">
          <%= form.submit 'Send', class: 'btn btn-primary' %>
        </div>

      <% end %>
      <!-- Contact Form -->
    </div>
  </div>
  <!-- Contact Form Container -->

</div>
<!-- Contact Container -->